@import '~@/reset.sass'
@import '~@/assets/font.sass'
+reset-body

*
  font-family: Noto Sans TC, WenQuanYi Zen Hei, PingFang TC, Microsoft JhengHei !important
br, input, textarea
  font-family: WenQuanYi Zen Hei, PingFang TC, Microsoft JhengHei !important

.container
  margin-left: auto
  margin-right: auto
  width: 960px

@media (max-width: 991px)
  .container
    min-width: 320px
    padding-left: 30px
    padding-right: 30px
    width: 100%
