@import 'https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700' //[[noto-sans-tc@font]]
@import '~@/reset-mixin.sass'
+reset-body
+reset-box-sizing

html
  font-family: 'Noto Sans TC', 'WenQuanYi Zen Hei', 'PingFang TC', 'Microsoft JhengHei' //[[noto-sans-tc@font]]
  font-family: 'WenQuanYi Zen Hei', 'PingFang TC', 'Microsoft JhengHei' //[[!noto-sans-tc@font]]

.container
  margin-left: auto
  margin-right: auto
  width: 960px

@media (max-width: 1023px)
  .container
    min-width: 320px
    padding-left: 20px
    padding-right: 20px
    width: 100%
