=reset-a
  a
    color: inherit
    text-decoration: none
    &:hover
      text-decoration: underline

=reset-address
  address
    font-style: normal

=reset-button
  button
    border: none
    cursor: pointer
    outline: none
    padding: 0
    &:disabled
      cursor: auto

=reset-body
  html, body
    height: 100%
  body
    overflow-x: hidden

=reset-em
  em
    font-style: normal

=reset-figure
  figure
    display: inline-block
    margin: 0

=reset-h
  h1, h2, h3, h4, h5, h6
    font-size: 1em
    font-weight: normal
    margin-bottom: 0
    margin-top: 0

=reset-img
  img
    vertical-align: bottom

=reset-input
  input
    border-radius: 0
    border: none
    outline: none
    &::-ms-clear
      display: none
  input[type=checkbox], input[type=radio]
    flex: none
    margin-right: .5em
    margin-top: .25em
    vertical-align: top

=reset-p
  p
    margin-bottom: 0
    margin-top: 0

=reset-select
  select
    appearance: none
    border-radius: 0
    border: none
    cursor: pointer
    outline: none
    &::-ms-expand
      display: none

=reset-strong
  strong
    font-weight: normal

=reset-textarea
  textarea
    border-radius: 0
    border: none
    outline: none
    resize: none

=reset-ol
  ol
    counter-reset: li
    list-style-type: none
    margin-bottom: 0
    margin-top: 0
    padding-left: 0
    li
      counter-increment: li
      &::before
        content: counter(li)'.'
        margin-right: .5em

=reset-ul
  ul
    padding-left: 0
    list-style-type: none
    margin-bottom: 0
    margin-top: 0

